body {
    width: 100vw;
    height: 100vw;
    font-family: 'Inconsolata', monospace;
    background-image: url('../images/greenplants.jpg');
    background-origin: content-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .show-main .main {
    display: block;
  }

  .show-main .safety {
    display: none;
  }

  .show-safety .main {
    display: none;
  }

  .show-safety .safety {
    display: block;
  }

  .btn {
    display: block;
    padding: 5px 10px;
    width: 140px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
  }

.transparent {
  background-color: rgba(255, 255, 255, 0.9);
}


.mainNav {
  text-align: center;
  padding-bottom: 70px;
  margin-top: -10px;
  margin-bottom: 30px;
  position: fixed;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.row {
  padding: 30px;
}

h1 {
    font-size: 1000%;
    color: #ffbb94;
    opacity: 1;
    font-stretch: expanded;
    letter-spacing: 30px;
    text-align: right;
    padding-top: 10%;
    margin-right: 0%;
    display: flex;
    justify-content: flex-end;
}

h5 {
  font-size: 150%;
  text-align: right;
  font-stretch: expanded;
  color: rgb(255, 255, 255);
  padding-bottom: 10%;
  margin-right: 0%;
  opacity: 1;
}

#titleTwo {
  background-color: #ffbb94;
  padding-left: -30px;
  opacity: 0.9;
}

.dynamicBlog {
  text-align: center;
  position: center;
  padding-bottom: 70px;
  margin-top: -10px;
  margin-bottom: 30px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: #ffbb94;
  text-decoration: none;
}


h3 {
  text-align: left;
  font-size: 4%;
  padding-top: 40px;
  margin-left: 40px;
  font-size: 30px;
}

.col-sm-3 {
  position: relative;
  padding-bottom: 15px;
}

.dyanmicBlogImage{
  cursor: pointer;
  width: 200px;
  height: 200px;
  top: 0;
  left: 30%

}

.dynamicBlogText{
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  z-index: 5;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  vertical-align: middle;
  line-height:170%;

  }

.dynamicBlogText:hover {
  opacity: 1;
}


.submit, .art, .events, .stories, .blog {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.navSiteImage {
  position: relative;
  padding-right: 0px;
  margin-top:: -20px;
  padding-top: -20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#copyright {
  color: black;
}
